<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:druid.properties"/>

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource" init-method="init" destroy-method="close">
        <!-- 数据库基本信息 -->
        <property name="url" value="${druid.url}"/>
        <property name="username" value="${druid.username}"/>
        <property name="password" value="${druid.password}"/>
        <property name="driverClassName" value="${druid.driver-class-name}"/>

        <!-- 配置初始化大小、等待超时 -->
        <property name="initialSize" value="${druid.initial-size}"/>
        <property name="minIdle" value="${druid.min-idle}"/>
        <property name="maxActive" value="${druid.max-active}"/>
        <property name="maxWait" value="${druid.max-wait}"/>

        <!-- 检测需要关闭的空闲连接的间隔时间，连接最小、最大时间 -->
        <property name="timeBetweenEvictionRunsMillis" value="${druid.time-between-eviction-runs-millis}"/>
        <property name="minEvictableIdleTimeMillis" value="${druid.min-evictable-idle-time-millis}"/>
        <property name="maxEvictableIdleTimeMillis" value="${druid.max-evictable-idle-time-millis}"/>

        <property name="validationQuery" value="${druid.validation-query}"/>
        <property name="testWhileIdle" value="${druid.test-while-idle}"/>
        <property name="testOnBorrow" value="${druid.test-on-borrow}"/>
        <property name="testOnReturn" value="${druid.test-on-return}"/>

        <property name="poolPreparedStatements" value="${druid.pool-prepared-statements}"/>
        <property name="maxPoolPreparedStatementPerConnectionSize" value="${druid.max-pool-prepared-statement-per-connection-size}"/>

        <property name="filters" value="${druid.filters}"/>
    </bean>

</beans>