<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="activeMQConnectionFactory" class="org.apache.activemq.ActiveMQConnectionFactory">
        <property name="brokerURL" value="tcp://localhost:61616"/>
    </bean>

    <bean id="connectionFactory" class="org.springframework.jms.connection.CachingConnectionFactory">
        <property name="targetConnectionFactory" ref="activeMQConnectionFactory"/>
    </bean>

    <bean id="testActiveMQQueue" class="org.apache.activemq.command.ActiveMQQueue">
        <constructor-arg value="TEST_QUEUE"/>
    </bean>

    <bean id="template" class="org.springframework.jms.core.JmsTemplate">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="defaultDestination" ref="testActiveMQQueue"/>
    </bean>

    <bean id="messageSender" class="com.vincent.mq.example.MessageSender">
        <constructor-arg name="template" ref="template"/>
    </bean>

    <bean id="messageReceiver" class="com.vincent.mq.example.MessageReceiver"/>

    <bean class="org.springframework.jms.listener.SimpleMessageListenerContainer">
        <property name="connectionFactory" ref="connectionFactory"/>
        <property name="destination" ref="testActiveMQQueue"/>
        <property name="messageListener" ref="messageReceiver"/>
    </bean>
</beans>